@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700&display=swap');

body {
    font-family: Raleway;
    color: #555;
    background: #a15a5a;
    margin: 10px 30px;
}

#homepage,
#create,
#edit-page {
    max-width: 800px;
    margin: 60px auto;
    padding: 10px 20px;
    background: #fdfdfd;
    border-radius: 4px;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
}

input[type="number"],
input {
    display: block;
    width: 300px;
    margin: 20px 0;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ddd;
}

label {
    font-weight: bold;
}

.title {
    color: #fff;
    text-align: center;
    font-size: 48px;
}

#homepage h2,
#create h2,
#edit-page h2 {
    text-align: center;
}

form {
    max-width: 350px;
    margin: 30px auto;
}

input[type="submit"] {
    background: #555;
    color: #fff;
    border: 0;
    padding: 10px;
    font-size: 18px;
    width: 200px;
    margin: 20px auto;
    display: block;
    cursor: pointer;
    border-radius: 4px;
}

input[type="radio"] {
    width: 10px;
}

label {
    margin-right: 15px;
    display: inline-block;
}

.radio-group {
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: flex-start;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    padding: 15px 0;
    background: #eee;
    list-style-type: none;
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0;
    border-radius: 4px;
}

span {
    display: inline-block;
    margin: 0 20px;
}


span.dist,
#edit {
    color: green;
}

.float-right {
    float: right;
}

span.true {
    border-radius: 10px;
    width: 10px;
    height: 10px;
    background: green;
}

span.false {
    border-radius: 10px;
    width: 10px;
    height: 10px;
    background: #ff5252;
}

.navigation {
    display: flex;
    justify-content: space-between;
}

.navigation a {
    text-decoration: none;
    font-size: 1.5em;
    color: white;
}

#link-edit {
    text-decoration: none;
    display: inline-block;
}


svg {
    font-size: 1.5em;
}

.city-option {
    font-size: 1.1em;
}